/* (<=429.5px) */
@media (max-width: 429.5px) {
   section {
      padding: 0 0 80px 0;
      min-height: 1100px;
   }
/* ---Каталог--- */
   .largescreen {
      display: none;
   }
   .middlescreen {
      display: none;
   }
   .bigscreen {
      display: none;
   }
   .mediumscreen {
      display: none;
   }
   .route-block {
      width: 100%;
   }
   .route-block:nth-child(odd) {
      margin-left: 40px;
   }
   .route-block:nth-child(even) {
      margin-left: 40px;
   }
   .brewery_block>ul>li {
      width: 100%;
   }
   .brewery_block>ul>li {
      margin-left: 40px;
   }
   .text-main {
      padding: 90px 120px 0px 120px;
   }
   .text-second {
      padding: 20px 0 5px 0px;
   }
   .text-third {
      padding: 70px 0px 90px 0;
   }
   .navbar {
      font-size: 24px;
   }
   .top-menu {
      font-size: 24px;
   }
   .navbar-brand {
      font-size: 24px;
   }
   .btn-outline-success {
      font-size: 23px;
   }
   .form-control {
      font-size: 23px;
   }
 /* ----About---- */
}
/* (>=430 и <=767) */
@media (min-width: 430px) and (max-width: 767.5px) {
   section {
      padding: 0 0 60px 0;
      min-height: 800px;
   }
   h2 {
      font-size: 25px !important;
   }
/* ---Каталог--- */
   .largescreen {
      display: none;
   }
   .middlescreen {
      display: none;
   }
   .bigscreen {
      display: none;
   }
   .mediumscreen {
      display: none;
   }
   .text-main {
      padding: 35px 120px 20px 120px;
   }
   .text-second {
      padding: 20px 0 5px 0px;
   }
   .route-block {
         width: 100%;
      }
   .route-block:nth-child(odd) {
      margin-left: 30px;
   }
   .route-block:nth-child(even) {
      margin-left: 30px;
   }
   .brewery_block>ul>li {
      width: 49%;
   }
   /* ----About---- */
}
/* (>=768 и <=1024) */
@media (min-width: 768px) and (max-width: 1023.5px) {
   section {
      padding: 0 0 60px 0;
      min-height: 800px;
   }
   h2 {
      font-size: 26px !important;
   }
   /* ---Каталог--- */
   /* .main {
      background-image: url(../img/11.jpg);
   } */
   .col-4 {
      width: 35.33333333%;
   }
   .text-main {
      padding: 35px 120px 20px 120px;
   }
   .largescreen {
      display: none;
   }
   .middlescreen {
      display: none;
   }
   .bigscreen {
      display: none;
   }
   .littlescreen {
      display: none;
   }
   .text-main {
   padding: 50px 120px 50px 120px;
   }
   .route-block {
      width: 100%;
   }
   .route-block:nth-child(odd) {
      margin-left: 30px;
   }
   .route-block:nth-child(even) {
      margin-left: 30px;
   }
   .brewery_block>ul>li {
      width: 49%;
   }
   /* ----About---- */
}
/* (>=1024 и <=1199) */
@media (min-width: 1024px) and (max-width: 1199.5px) {
   section {
      padding: 0 0 80px 0;
      min-height: 650px;
   }
   a {
      padding: 7px;
   }
   h2 {
      font-size: 26px !important;
   }
   /* ---Каталог--- */
   .col-4 {
      width: 31.33333333%;
   }
   .largescreen {
      display: none;
   }
   .smallscreen {
      display: none;
   }
   .bigscreen {
      display: none;
   }
   .littlescreen {
      display: none;
   }
   .route-block {
      width: 49%;
   }
   .route-block:nth-child(even) {
      margin-left: 1px;
   }
   .text-main {
      padding: 70px 50px 50px 50px;
   }
   /* ----About---- */
}

@media (min-width: 1200px) and (max-width: 1366.5px) {
   section {
      padding: 0 0 90px 0;
      min-height: 650px;
   }
   h2 {
      font-size: 30px !important;
   }
   /* ---Каталог--- */
   .largescreen {
      display: none;
   }
   .smallscreen {
      display: none;
   }
   .bigscreen {
      display: none;
   }
   .littlescreen {
      display: none;
   }
   .text-main {
      padding: 100px 121px 50px 121px;
   }
   /* ----About---- */
}

@media (min-width: 1367px) and (max-width: 1499.5px) {
   section {
      padding: 0 0 150px 0;
      min-height: 720px;
   }
   h2 {
      font-size: 30px !important;
   }
   /* ---Каталог--- */
   .middlescreen {
      display: none;
   }
   .smallscreen {
      display: none;
   }
   .mediumscreen {
      display: none;
   }
   .littlescreen {
      display: none;
   }
   /* ----About---- */
}

@media (min-width: 1500px) and (max-width: 1549.5px) {
   /* ---Каталог--- */
   .middlescreen {
      display: none;
   }
   .smallscreen {
      display: none;
   }
   .mediumscreen {
      display: none;
   }
   .littlescreen {
      display: none;
   }
   /* ----About---- */
}

@media (min-width: 1550px) and (max-width: 1919.5px) {
   section {
         padding: 0 0 150px 0;
         min-height: 800px;
      }
   /* ---Каталог--- */
   .middlescreen {
      display: none;
   }
   .smallscreen {
      display: none;
   }
   .mediumscreen {
      display: none;
   }
   .littlescreen {
      display: none;
   }
   /* ----About---- */
}
/* (>=1920) */
@media (min-width: 1920px) {
   section {
      padding: 0 0 150px 0;
      min-height: 900px;
   }
   /* ---Каталог--- */
   .middlescreen {
      display: none;
   }
   .smallscreen {
      display: none;
   }
   .mediumscreen {
      display: none;
   }
   .littlescreen {
      display: none;
   }
   /* ----About---- */
}
