html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubens Modern', arial;
    font-size: 16px;
    font-weight: 400;
    color: #edb176;
    text-shadow: 4px 4px 4px #120f0f;
    background-color: #3E1F00;
}

/* Цвет */
.color1 {
    color: #edb176;
}
.color2 {
    color: #C78547;
}
.color3 {
    color: #A46526;
}
.color4 {
    color: #894c0f;
}
.color5 {
    color: #FFE5CC;
}

img {
    max-width: 100%;
    height: auto;
    padding: 0;
}

section {
    padding: 0 0 150px 0;
    height: 100vh;  /* на всю высоту экрана */
    min-height: 750px;
    min-width: 760px;
}

a {
    text-decoration: none;
    padding: 20px;
}

a:hover {
    color: #A46526;
}
/* Дезактивировали ссылки в разработке */
a.disabled {
    color: #edb176;
    pointer-events: none;
}

h2 {
    Letter-spacing: 1.5px;
    text-shadow: 4px 4px 4px black;
    font-size: 30px;
}
/* ---Каталог--- */
.main {
    background-color: #3E1F00;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    /* background-attachment: fixed; */
}

/* Маршруты */
.route {
    background-color: #3E1F00;
    background-image: url(../img/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    /* background-attachment: fixed; */
}

/* Блок для названия маршрута */
.route-block {
    width: 49%;
    height: 42px;
    padding: 5px 0;
    overflow: hidden;
}
/* margin для блоков левого ряда */
.route-block:nth-child(even) {
    margin-left: 20px;
}
/* Страны */
.country {
    background-color: #3E1F00;
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    /* background-attachment: fixed; */
}

.country-block {
    width: 400px;
    margin-left: 90px;
    padding: 6px 0;
}
/* Пивоварни */
.brewery {
    background-color: #3E1F00;
    background-image: url(../img/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    /* background-attachment: fixed; */
}

/* Блок для назвагия пивоварни -прямой потомок элемента */
.brewery_block > ul > li {
    width: 33%;
    height: 42px;
    padding: 5px 0;
    overflow: hidden;
    /* align-items: center; */
}
li>.d-inline-block {
    overflow: hidden;
}
/* margin для блоков левого ряда - один блок через два блока*/
/* .brewery_block > ul > li:nth-child(3n+1) {
    margin-left: 45px;
} */
/* Разделитель */
.line {
    min-width: 800px;
}
/* Название */
.text-main {
    padding: 100px 100px 50px 100px;
    color: #edb176;
    font-size: 42px;
    font-weight: 900;
    Letter-spacing: 4px;
    Word-spacing: 10px;
    line-height: 70px;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #191717;
}

.text-second {
    padding: 40px 0 5px 0px;
    font-size: 42px;
    font-weight: 900;
    Letter-spacing: 4px;
    Word-spacing: 10px;
    line-height: 80px;
    text-shadow: 4px 4px 4px #191717;
}

.text-margin {
    margin-bottom: 40px;  /* отступ для заголовка страны */
}
/* текс на 1 странице */
.text-third {
    font-size: 28px;
    color: #edb176;
    font-weight: 700;
    Word-spacing: 5px;
    Letter-spacing: 2px;
    text-shadow: 4px 4px 4px black;
    padding-bottom: 45px;
}
/* Узор */

/* Header */
.navbar {
    font-family: 'Rubens Modern', arial;
    font-size: 21px;
    color: #f4f1f1;
    text-transform: uppercase;
    background-color: #894c0f;
    z-index: 10000;
    min-width: 800px;
}
.navbar-brand {
    font-size: 22px;
}
/* Закрепили navbar */
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
/* Margin для scroll */
.scroll-margin {
    scroll-margin-top: 3em;
}

.nav-item .nav-link {
    color: #c6bbbb;
    text-transform: uppercase;
    transition: color 1s;
}

.nav-item .nav-link:hover {
    color: white;
}
/* Выпадающее меню */
.dropdown-menu {
    background-color: #A46526;
    font-size: 17px;
}

.top-menu {
    font-size: 21px;
}

.dropdown-menu li a:hover {
    background-color: #7a4c1d;
    color: white;
}
/* Поиск */
.btn-outline-success {
    color: white;
    background: #be7208;
}

.form-control {
    background-color: #ad9a9a;
}

.form-control::placeholder {
    color: white;
}
/* Карусель на главной странице */
.carousel-item img {
    border-radius: 20px;
    border: 1px solid #C78547;
    /* position: relative; */
    /* box-shadow: 1px -1px 76px 0px #0d0d0d; */
    opacity: 0.85;
}

.carousel-inner > .carousel-item > img {
    width: 480px;
    height: 220px;
}
/* ----About---- */
